h1,
p {
  font-family: Lato;
}
a {
  padding: 10px 20px;
}

.header {
  float: left;
  height: 100%;
  width: 100px;
  margin-right: 50px;
}
.button {
  cursor: pointer;
  border-bottom: 1px solid #000;
  transition: all 0.2s;
  float: left;
  width: 100%;
  padding: 10px;
}
.button:hover {
  color: #f00;
  border-bottom: 1px solid #f00;
  padding-left: 20px;
  padding-right: 0px;
}
